<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Review Prediction</title>
</head>
<body>
    <div class="header">
        <h1>Movie Review Prediction</h1>
    </div>
    <div class="predict">
        {% if value==1 %}
            <h2>Positive review</h2>
        {% else %}
            <h2>Negative review</h2>
        {% endif %}
    </div>
    <div class="footer">
        <h5>&copy;All rights reserved</h5>
        <a href="https://github.com/kartikey-321" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/kartikey-goel-135ab2211/" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
</body>
</html>